@import '../../styles/mixins.scss';

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .pagination-btn {
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: $secondaryLight2Color;
    transition: border-bottom 0.3s ease;
    font-size: 1rem;

    &.active {
      border-bottom: 2px solid $primaryColor;
    }

    &:disabled {
      cursor: not-allowed;
      transform: none;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }

  @include smMaxBreakPoint {
    .pagination-btn {
      margin: 0 3px;
      padding: 8px 10px;
      font-size: 0.9rem;
    }
  }
}