@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.responses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  justify-items: center;
  align-items: center;
  padding: 10px 20px 10px 20px;

  .response-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 20px 10px 20px;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: $secondaryLight2Color;
    width: 300px;
    height: 220px;
    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(105%);
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem 0;
    }

    p {
      line-height: 1.3;
    }
  }

  @include smMaxBreakPoint {
    .response-card {
      width: 270px;
      height: 200px;

      h2 {
        font-size: 1.2rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

}

.no-comments-found {
  display: flex;
  justify-content: center;
  align-items: center;
}