@import "../../sassStyles/mixins.scss";

.response-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;


  .go-back-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    
    .go-back {
      padding: 10px;

      @include mdMaxBreakPoint {
        padding: 8px;
        font-size: .8rem;
      }
    }
    .arrow-left {
      height: 25px;
      width: 25px;

      @include mdMaxBreakPoint {
        height: 16px;
      }
    }
  
  }
}

.response-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px 20px 10px 20px;
  border: 1px solid #b2b2b2;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 350px;
  overflow: auto;

  

  .name-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid #000;
    
    .response-date {
      margin-left: 15px;
      min-width: 90px;
    }
  }
  
  
  .mini-deets {
    line-height: 1.5;
    padding: 15px;
  }
  
  .mini-deets-label {
    font-weight: 400;
  }

  @include mdMaxBreakPoint {
    max-width: 300px;
    max-height: 350px;
    font-size: .8rem;

  }
}

