@import '../../styles/mixins.scss';

.main {
  padding: 20px;

  @include smMinBreakPoint {
    max-width: 576px;
    margin: 0 auto;
  }

  @include mdMinBreakPoint {
    max-width: 600px;
    margin: 0 auto;
  }

  @include lgMinBreakPoint {
    max-width: 800px;
    margin: 0 auto;
  }

  @include xlMinBreakPoint {
    max-width: 1100px;
    margin: 0 auto;
  }

  @include xxlMinBreakPoint {
    max-width: 1200px;
    margin: 0 auto;
  }
}
