.header {
  h1 {
    margin: 0;
    padding: .7em 0 0 1.1em;
  }
}

.underline-container {
  display: flex;
  justify-content: center;
}

.underline {
  border-bottom: 1px solid #000;
  width: 95%;
  padding-top: 1em;
}
