// import mixins
@import '../../styles/mixins.scss';

.footer {
  padding: 2rem;
  bottom: 0;
  width: 100%;
  text-align: center;

  @include smMaxBreakPoint {
    // padding: 0.5rem;
    font-size: 0.8rem;
  }
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
}

.footer-nav li {
  display: inline;
  margin: 0 1rem;
}

.copyright {
  margin-top: 1rem;
  font-size: 0.875rem;

  @include smMaxBreakPoint {
    font-size: 0.75rem;
  }

}