@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.search-bar-container {
  display: flex;
  justify-content: center;
  padding: 4em 0;

  @include xlMaxBreakPoint {
    padding: 2em 0;
  }
}

.search-bar {
  min-width: 250px;
  display: flex;
  align-items: center;
  background-color: $secondaryLight2Color;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 5px 10px;
  width: 45%;
  height: 60px; 
  
  @include lgMaxBreakPoint {
    height: 50px;
  }

  input, select {
    font-family: 'Cascadia Code', monospace;
    font-size: 16px;
    border: none;
    padding: 10px;
    flex-grow: 1;
    border-radius: 0;
    background-color: $secondaryLight2Color;
    
    @include lgMaxBreakPoint {
      font-size: 14px;
      height: 40px;
    }
    
    &:focus {
      outline: none;
    }
  }
  
  input {
    min-width: 100px;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #ccc;

  }
  
  select {
    height: 40px;
    width: 80px;
    border-radius: 0 4px 4px 0;
    position: relative;
    cursor: pointer;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
