// @import '../../sassStyles/_variables.scss';
@import '../../sassStyles/_mixins.scss';

.search-bar-container {
  display: flex;
  justify-content: center;
  padding: 4em 0;

  @include xlMaxBreakPoint {
    padding: 2em 0;
  }
}

.search-bar {
  min-width: 250px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 5px 10px;
  width: 45%;
  height: 60px; 

  input, select {
    font-family: 'Cascadia Code', monospace;
    font-size: 16px;
    border: none;
    padding: 10px;
    background-color: #ededed;
    flex-grow: 1;
    border-radius: 0;
    
    @include lgMaxBreakPoint {
      font-size: 14px;
    }
    
    &:focus {
      outline: none;
    }
  }
  
  input {
    min-width: 100px;
    background-color: white;
    border-radius: 4px 0 0 4px;

  }
  
  select {
    height: 40px;
    width: 80px;
    border-radius: 0 4px 4px 0;
    position: relative;
    cursor: pointer;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
